@import '../../partials/variables';

.comment{
    display: flex;
    border-bottom: 1px solid $secondary-mercury;
    margin-top: $padding-between-components-mobile;

    &__text-container{
        display: flex;
        flex-direction: column;
        padding: 0 $padding-between-components-mobile $padding-between-components-mobile $padding-between-components-mobile;
    }

    &__header{
        display: flex;
        justify-content: space-between;
    }

    &__avatar{
        height: $avatar-dimension-mobile;
        width: $avatar-dimension-mobile;
        min-width: $avatar-dimension-mobile;
        border-radius: 50%;
        background-color: black;
    }

    &__text{
        padding:0;
    }

    &__text-content{
        margin-top: calc($padding-between-components-mobile/2);
    }
}