@import '../../partials/variables';

.comment{
    display: flex;
    border-bottom: 1px solid $secondary-mercury;
    margin-top: var(--base-padding);

    &__text-container{
        display: flex;
        flex-direction: column;
        padding: 0 var(--base-padding) var(--base-padding) var(--base-padding);
    }

    &__header{
        display: flex;
        justify-content: space-between;
    }

    &__avatar{
        height: var(--avatar-dimension);
        width: var(--avatar-dimension);
        min-width: var(--avatar-dimension);
        border-radius: 50%;
        background-color: black;
    }

    &__text{
        padding:0;
    }

    &__text-content{
        margin-top: calc(var(--base-padding)/2);
    }
}