@import '../../partials/variables';

.comment-input-container{
    display: flex;
    border-bottom: 1px solid $secondary-mercury;

    &__avatar{
        width: var(--avatar-dimension);
        height: var(--avatar-dimension);
        border-radius: 50%;
        background-color: black;
        margin-top: calc(var(--base-padding)/1.5 + var(--h3-font-size));
        background-image: url("../../assets/Images/Mohan-muruge.jpg");
        background-size: cover;
        background-position: left;
    }

    &__field-container{
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 0 var(--base-padding) var(--base-padding) var(--base-padding);
    }

    &__field-title{
        padding: 0;
    }

    &__text-field{
        margin: calc(var(--base-padding)/2) 0 var(--base-padding) 0;
        flex: 1;
        padding-top: calc(var(--base-padding)/2);
        padding-left: calc(var(--base-padding)/2);
    }

    &__btn-container{
        display: flex;
        position: relative;
    }

    &__btn{
        flex: 1;
        cursor: pointer;
    }

    &__btn-icon{
        width: 30px;
        height: 30px;
        position: absolute;
        background-image: url('../../assets/Icons/add_comment.svg');
        background-repeat: no-repeat;
        top: calc($button-height/5);
        left: calc(var(--base-padding)/2);
        cursor: pointer;
    }
}