@import '../../partials/variables';
@import '../../partials/mixins';
@import '../../partials/element_tags';

.nav-bar{
    display: flex;
    flex-direction: column;
    padding: var(--base-padding);

    &__logo{
        max-width: $logo-max-width;
        max-height: $logo-max-height;
        margin-bottom: var(--base-padding);
        margin-left: auto;
        margin-right: auto;
    }

    &__search{
        display: flex;
        justify-content: space-between;
    }

    &__search-container{
        display: flex;
        flex: 1;
        position: relative;
    }

    &__search-field{
        flex:1;
        padding-left: calc(var(--base-padding)*2);
    }

    &__search-icon{
        height: 30px;
        width: 30px;
        position: absolute;
        top: 25%;
        left: calc(var(--base-padding)/2);
        background-image: url("../../assets/Icons/search.svg");
        background-repeat: no-repeat;
    }

    &__avatar{
        height: var(--avatar-dimension);
        width: var(--avatar-dimension);
        border-radius: 50%;
        margin-left: var(--base-padding);
        background-image: url('../../assets/Images/Mohan-muruge.jpg');
        background-position: left;
        background-size: cover;
    }

    &__btn-container{
        display: flex;
        position: relative;
    }

    &__btn{
        margin-top: var(--base-padding);
        flex: 1;
        cursor: pointer;
    }

    &__upload-icon{
        height: 30px;
        width: 30px;
        position: absolute;
        top: 40%;
        left: calc(var(--base-padding)/2);
        background-image: url("../../assets/Icons/upload.svg");
        background-repeat: no-repeat;
        color: $primary-white;
        cursor: pointer;
    }
}