@import '../../partials/variables';
@import '../../partials/mixins';
@import '../../partials/element_tags';

.nav-bar{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto;
    gap: var(--base-padding);
    padding: var(--base-padding);

    @include tablet{
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr $button-width auto;
    }

    &__logo{
        max-width: $logo-max-width;
        max-height: $logo-max-height;
        grid-column: 1 / 3; // end index not inclusive!
        margin-left: auto;
        margin-right: auto;

        @include tablet{
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 0;
            grid-column: 1;
            grid-row: 1;
        }
    }

    &__search-container{
        display: flex;
        flex: 1;
        position: relative;
        grid-row: 2;
        max-width: var(--form-field-max-width);

        @include tablet{
            grid-column: 2;
            grid-row: 1;
            margin-right: 0;
            margin-left: auto;
        }
    }

    &__search-field{
        flex:1;
        padding-left: calc(var(--base-padding)*2);
    }

    &__search-icon{
        height: 30px;
        width: 30px;
        position: absolute;
        top: calc($button-height/4);
        left: calc(var(--base-padding)/2);
        background-image: url("../../assets/Icons/search.svg");
        background-repeat: no-repeat;
    }

    &__avatar{
        height: var(--avatar-dimension);
        width: var(--avatar-dimension);
        border-radius: 50%;
        background-image: url('../../assets/Images/Mohan-muruge.jpg');
        background-position: left;
        background-size: cover;
        grid-row: 2;

        @include tablet{
            grid-column: 4;
            grid-row: 1;
        }
    }

    &__btn-container{
        display: flex;
        position: relative;
        grid-row: 3;
        grid-column: 1 / 3;

        @include tablet{
            grid-column: 3;
            grid-row: 1;
        }
    }

    &__btn{
        flex: 1;
        cursor: pointer;
    }

    &__upload-icon{
        height: 30px;
        width: 30px;
        position: absolute;
        top: calc($button-height/5);
        left: calc(var(--base-padding)/2);
        background-image: url("../../assets/Icons/upload.svg");
        background-repeat: no-repeat;
        color: $primary-white;
        cursor: pointer;
    }
}