@import 'variables';
@import 'mixins';
@import 'font';

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Avenir Next', sans-serif;
}

h1{
    font-weight: $page-header-text-weight;
    font-size: $page-header-text-size-mobile;
    padding-top: $padding-before-headlines-mobile;

    @include tablet{
        font-weight: $page-header-text-weight;
        font-size: $page-header-text-size-desktop;
        padding-top: $padding-before-headlines-desktop;
    }
}

h2{
    font-weight: $section-header-text-weight;
    font-size: $section-header-text-size-mobile;
    padding-top: $padding-before-headlines-mobile;
    @include tablet{
        font-weight: $section-header-text-weight;
        font-size: $section-header-text-size-desktop;
        padding-top: $padding-before-headlines-desktop;
    }
}

h3{
    font-weight: $subheader-text-weight;
    font-size: $subheader-text-size-mobile;
    padding-top: $padding-before-headlines-mobile;
    text-transform: uppercase;
    color: $primary-silver;

    @include tablet{
        font-weight: $subheader-text-weight;
        font-size: $subheader-text-size-desktop;
        padding-top: $padding-before-headlines-desktop;
    }
}

p{
    font-size: $body-text-size-mobile;
    font-weight: $body-text-weight;
    padding-top: $padding-between-components-mobile;

    @include tablet{
        font-size: $body-text-size-desktop;
        font-weight: $body-text-weight;
        padding-top: $padding-between-components-desktop;
    }
}

button{
    height: $button-height;
    text-transform: uppercase;
    background-color: $primary-blue;
    border-radius: $button-radius;
    border: none;
    color: $primary-white;
}

label{
    text-transform: uppercase;
    color: $primary-silver;
    font-size: $body-text-size-mobile;
    @include tablet{
        font-size: $body-text-size-desktop;
        font-weight: $body-text-weight;
    }
}

input{
    height: $form-field-height-mobile;
    font-family: 'Avenir Next', sans-serif;
    background-color: $secondary-alabaster;
    border: 1px solid $primary-silver;
    border-radius: 4px;
    outline: none;
    font-size: $body-text-size-mobile;
    font-weight: $body-text-weight;
    flex: 1;

    @include tablet{
        max-width: $form-field-max-width-desktop;
        height: $form-field-height-desktop;
        font-size: $body-text-size-desktop;
        font-weight: $body-text-weight;
    }
}

input:focus{
    border-color: $primary-black;
}

textarea{
    font-family: 'Avenir Next', sans-serif;
    background-color: $secondary-alabaster;
    border: 1px solid $primary-silver;
    border-radius: 4px;
    outline: none;
    resize: none;

    font-size: $body-text-size-mobile;
    font-weight: $body-text-weight;
    @include tablet{
        font-size: $body-text-size-desktop;
        font-weight: $body-text-weight;
    }
}

textarea:focus{
    border-color: $primary-black;
}