@import 'variables';
@import 'mixins';
@import 'font';

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Avenir Next', sans-serif;
}

main{
    display: flex;
    flex-direction: column;

    @include desktop{
        flex-direction: row;
    }
}

h1{
    font-weight: $bold-font-weight;
    font-size: var(--h1-font-size);
    max-lines: 2;
}

h2{
    font-weight: $bold-font-weight;
    font-size: var(--h2-font-size);
    max-lines: 2;
}

h3{
    font-weight: $bold-font-weight;
    font-size: var(--h3-font-size);
    text-transform: uppercase;
    color: $primary-silver;
    max-lines: 2;
}

p{
    font-size: var(--p-font-size);
    font-weight: $normal-font-weight;
}

a{
    text-decoration: none;
}

i{
    height: $icon-dimen;
    width: $icon-dimen;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

button{
    min-height: $button-height;
    text-transform: uppercase;
    background-color: $primary-blue;
    font-weight: $bold-font-weight;
    border-radius: $button-radius;
    border: none;
    color: $primary-white;
}

input{
    min-height: var(--form-field-height);
    max-height: var(--form-field-height);
    font-family: 'Avenir Next', sans-serif;
    background-color: $secondary-alabaster;
    border: 1px solid $primary-silver;
    border-radius: 4px;
    outline: none;
    font-size: var(--p-font-size);
    font-weight: $normal-font-weight;
    flex: 1;
    max-width: var(--form-field-max-width);
}

input:focus{
    border-color: $primary-black;
}

textarea{
    min-height: var(--form-field-height);
    font-family: 'Avenir Next', sans-serif;
    background-color: $secondary-alabaster;
    border: 1px solid $primary-silver;
    border-radius: 4px;
    outline: none;
    resize: none;
    font-size: var(--p-font-size);
    font-weight: $normal-font-weight;
}

textarea:focus{
    border-color: $primary-black;
}