@import "../../partials/variables";

.next-videos{
    display: flex;
    flex-direction: column;
    padding: $padding-between-components-mobile;

    &__title{
        padding-top: 0;
        padding-bottom: $padding-after-headlines-mobile;
    }
}