@import "../../partials/variables";

.next-videos{
    display: flex;
    flex-direction: column;
    padding: var(--base-padding);

    &__title{
        padding-top: 0;
        padding-bottom: var(--base-padding);
    }
}