@import '../../partials/variables';
@import '../../partials/mixins';

.details{
    display: flex;
    flex-direction: column;
    padding: var(--base-padding);

    &__info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: var(--base-padding);
        padding: var(--base-padding) 0 0 0;
        border-top: 1px solid $secondary-mercury;
        border-bottom: 1px solid $secondary-mercury;
        margin-top: var(--base-padding);

        @include tablet{
            grid-template-columns: auto auto 1fr auto auto;
            grid-template-rows: 1fr;
            padding: var(--base-padding) 0;
            border-top: none;
            padding-top: 0;
        }
    }

    &__date{
        @include tablet{
            grid-row: 1;
            grid-column: 2;
        }
    }

    &__spacer{
        @include tablet{
            grid-row: 1;
            grid-column: 3;
        }
    }

    &__info-text{
        padding: 0;
    }

    &__views-container{
        position: relative;
    }

    &__likes-container{
        position: relative;
    }

    &__views-icon{
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("../../assets/Icons/views.svg");
        background-repeat: no-repeat;
    }

    &__likes-icon{
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("../../assets//Icons/likes.svg");
        background-repeat: no-repeat;
    }

    &__views-count{
        padding-left: calc(30px);

        @include tablet{
            grid-row: 1;
            grid-column: 4;
        }
    }

    &__likes-count{
        padding-left: calc(30px);
        @include tablet{
            grid-row: 1;
            grid-column: 5;
        }
    }

    &__description{
        margin-top: var(--base-padding);
    }
}